<div class="nav">
	<div class="title"><span style="padding-right: 10px;" class="genericon genericon-menu"><a style="color:white;" href="/category.html"><span>&nbsp;&nbsp;&nbsp;Category</span></a></div>
	{% for category in site.categories %} 
	<a  href="/category.html#{{ category | first }}" title="view all posts">
		<span style="padding-right: 10px;" class="genericon genericon-pinned"></span>
		{{ category | first | capitalize }} <span class="bubble">{{ category | last | size }}</span></a>
	{% endfor %} 
	<a class="" href="/category.html"><span style="padding-right: 12px;" class="genericon genericon-pinned"></span>Show All</a>
</div>